version: 'latest'
services:
  userSystem:
    image: userSystem
    container_name: my_user_system
    build:
      context: ./
      dockerfile: Dockerfile-userSystem
    ports:
      - "8088:8088"
    expose:
      - "8088"
    depends_on:
      - redis
    networks:
      - back_network
    extra_hosts:
      - "host.docker.internal:host-gateway"

  sysControl:
    image: syscontrol
    container_name: my_sys_control
    build:
      context: ./
      dockerfile: Dockerfile-sysControl
    ports:
      - "11451:11451"
    expose:
      - "11451"
    depends_on:
      - redis
    networks:
      - back_network
    extra_hosts:
      - "host.docker.internal:host-gateway"
    volumes:
      - /opt/avatar:/opt/avatar

  redis:
    image: "myredis"
    container_name: myredis
    networks:
      - back_network
    ports:
      - "6379:6379"

networks:
  back_network:
    driver: bridge