<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cdut.epidemicsyscontrolsystem.mapper.SysUserRoleMapper">

    <resultMap id="BaseResultMap" type="com.cdut.epidemicsyscontrolsystem.pojo.SysUserRole">
            <id property="userId" column="user_id" jdbcType="INTEGER"/>
            <id property="roleId" column="role_id" jdbcType="INTEGER"/>
            <result property="username" column="username" jdbcType="VARCHAR"/>
            <result property="roleName" column="role_name" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        user_id,role_id,username,
        role_name
    </sql>
    <insert id="insert">
        insert into t_sys_user_role (user_id, role_id, username, role_name) VALUE (#{sysUserRole.userId}, #{sysUserRole.roleId}, #{sysUserRole.username}, #{sysUserRole.roleName})
    </insert>
    <update id="update">
        update t_sys_user_role
        <set>

            <if test="sysUserRole.roleName != null" >
                role_name = #{sysUserRole.roleName},
            </if>
        </set>
        <where>
             user_id = #{sysUserRole.userId}
        </where>
    </update>
    <select id="getUserRoles" resultType="java.lang.String">
        select role_name from t_sys_user_role where user_id=#{id}
    </select>

</mapper>
