<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cdut.epidemicsyscontrolsystem.mapper.SysUserMapper">

    <resultMap id="BaseResultMap" type="com.cdut.epidemicsyscontrolsystem.pojo.SysUser">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="username" column="username" jdbcType="VARCHAR"/>
            <result property="password" column="password" jdbcType="VARCHAR"/>
            <result property="salt" column="salt" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,username,password,
        salt
    </sql>
    <select id="getSysUserByUsername" resultType="com.cdut.epidemicsyscontrolsystem.pojo.SysUser">
        select * from t_sys_user where username=#{username};
    </select>
</mapper>
